---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
---

<ResourcesLayout title="Development · Resources" current="development">
  <header class="page-head">
    <h1 data-i18n="resources.development.h1">Development</h1>
    <p class="intro" data-i18n="resources.development.intro">Repos, tooling, and engineering references for implementing Prism will be gathered here.</p>
  </header>
</ResourcesLayout>
