---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
---

<ResourcesLayout title="Figma · Resources" current="figma">
  <header class="page-head">
    <h1 data-i18n="resources.figma.h1">Figma</h1>
    <p class="intro" data-i18n="resources.figma.intro">Libraries, variables, and handoff notes for Prism in Figma will be linked from this page.</p>
  </header>
</ResourcesLayout>
