---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
---

<ResourcesLayout title="Learning videos · Resources" current="learning-videos">
  <header class="page-head">
    <h1 data-i18n="resources.learningVideos.h1">Learning videos</h1>
    <p class="intro" data-i18n="resources.learningVideos.intro">Recorded walkthroughs and tutorials will be listed here as they are released.</p>
  </header>
</ResourcesLayout>
