---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
---

<ResourcesLayout title="Resources" current="overview" description="Guides, tools, and links for Prism.">
  <header class="page-head">
    <h1 data-i18n="resources.title">Resources</h1>
    <p class="intro" data-i18n="resources.lede">Additional guides and references will live here.</p>
  </header>
</ResourcesLayout>
