---
import ResourcesLayout from "../../layouts/ResourcesLayout.astro";
---

<ResourcesLayout title="Templates · Resources" current="templates">
  <header class="page-head">
    <h1 data-i18n="resources.templates.h1">Templates</h1>
    <p class="intro" data-i18n="resources.templates.intro">Starter files and layout templates aligned to Prism will be linked from this page.</p>
  </header>
</ResourcesLayout>
