---
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogUpdateArticle from "../../components/blog/BlogUpdateArticle.astro";
---

<BlogLayout title="2025" current="y2025" description="Blog posts from 2025 by the Prism team.">
  <header class="page-head">
    <h1 data-i18n="blog.nav.y2025">2025</h1>
    <p class="intro" data-i18n="blog.lede">
      Release notes, deep dives, and product updates from the Prism team.
    </p>
  </header>
  <div class="blog-posts">
    <BlogUpdateArticle id="update-usage-metrics" updateN={5} isFirstInPage />
    <BlogUpdateArticle id="update-a11y-checklist" updateN={6} />
  </div>
</BlogLayout>
