---
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogUpdateArticle from "../../components/blog/BlogUpdateArticle.astro";
import BlogTeasersViewControls from "../../components/blog/BlogTeasersViewControls.astro";
---

<BlogLayout title="2026" current="y2026" description="Blog posts from 2026 by the Prism team." pageVariant="teasers">
  <header class="page-head">
    <h1 data-i18n="blog.nav.y2026">2026</h1>
    <div class="blog-teasers-head-row">
      <p class="intro" data-i18n="blog.lede">
        Release notes, deep dives, and product updates from the Prism team.
      </p>
      <BlogTeasersViewControls />
    </div>
  </header>
  <div class="blog-posts blog-posts--teasers">
    <BlogUpdateArticle id="update-april-2026" updateN={1} isFirstInPage />
    <BlogUpdateArticle id="update-home-navigation" updateN={2} />
    <BlogUpdateArticle id="update-theme-previews" updateN={3} />
    <BlogUpdateArticle id="update-foundations-ia" updateN={4} />
    <BlogUpdateArticle id="update-search-docs" updateN={5} />
  </div>
</BlogLayout>
